/kws_transformer/__pycache__
/kws_transformer/kws/__pycache__
/outputs
/kws_transformer/dataset
/kws_transformer/kws/preprocessing_data/__pycache__
/kws_transformer/some_tests.py
/tests/__pycache__
/tests/something.py
/tests/for_app/__pycache__